.chat {
	flex: 0.7;
	display: flex;
	flex-direction: column;
}

.chat__header {
	padding: 13.5px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgrey;
}

.chat__headerInfo {
	flex: 1;
	padding-left: 20px;
}

.chat__headerInfo > h3 {
	font-weight: 500;
}

.chat__headerRight {
	display: flex;
	justify-content: space-between;
	min-width: 140px;
}

.chat__body {
	flex: 1;
	background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
