.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0.25;
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-right: 1px solid lightgray;
}

.sidebar__headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 7vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
	margin-right: 2vw;
	font-size: 24px !important;
}

.sidebar__search {
	display: flex;
	align-items: center;
	background-color: #f6f6f6;
	height: 40px;
	padding: 10px;
}

.sidebar__searchContainer {
	display: flex;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 35px;
	border-radius: 10px;
}

.sidebar__searchContainer > input {
	border: none;
	width: 100%;
	padding-right: 15px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
	color: grey;
	padding: 10px;
}

.sidebar__chats {
	background-color: white;
	flex: 1;
	overflow-y: auto;
	border-bottom-left-radius: 8px;
}
